:root {
  --primaryColor: #be9c79;
  --secondaryColor: #666666;
  --tertiaryColor: #333333;
  --ffPrimary: "Nunito Sans", serif;
  --ffSecondary: "Merienda", serif;
}

.btn {
  background-color: var(--primaryColor);
  border: none;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--tertiaryColor);
}

body {
  font-family: var(--ffPrimary);
}

h1 {
  font-family: var(--ffSecondary);
  font-size: 5.1rem;
}

h2 {
  font-family: var(--ffSecondary);
  font-size: 3rem;
}

p {
  color: var(--secondaryColor);
}


.heroSection {
  background: linear-gradient(90deg, #fffcfc, transparent 60%), url(./assets/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11rem 0rem;
}

.hero {
  width: 60%;
  height: 100%;
}

.location i {
  background-color: var(--primaryColor);
}


.form-control:focus {
  /* border: 1px solid dodgerblue; */
  /* box-shadow: 0 0 6px dodgerblue; */
  outline: none;
  /* border: none; */
}